body {
	background:#96b6d2;
	overflow:hidden;
}
.content {
	width: 368px;
    height: 450px;
    margin: 90px 450px;
    background: #bfcbd8;
    background: rgba(84, 144, 218, 0.35);
    border-radius: 6px;
}

.content .logo {
	text-align: center;
	line-height: 40px; 
	color: #fff;
	font-size:30px;
	position: relative;
   	top: 26px;
}

.content .inputBox {
	height: 10px;
   	opacity: 0.6;
}

.content .date{
	    margin-left: 33px;
	    margin-top: 40px;
	    font-size:12px;
}

.content .time{
	    margin-left: 33px;
	    margin-top: 16px;
	    font-size:12px;
}

.content .des_input{
		width: 75%;
	    height: 80px;
	    margin-left: 33px;
	    margin-top: 7px;
	    padding: 9px;
	    border: 1px solid #d0d5d9;
	    box-shadow: inset 1px 1px 5px #ccc;
}
	
.content .inputBox input{
	width: 280px;
    height: 30px;
    padding-left: 16px;
    line-height: 18px;
    font-size: 22px;
    background: #e2e9f9;
    color: #464242;
    border: none;
    border-radius: 2px;
}

.content .group{
	margin-left: 33px;
	margin-top: 20px;
	font-size:12px;
}


.content .create_btn{
    width: 88%;
    height: 46px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: "Verdana";
    background: #458fce;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-top:-25px;
}

.content .create_btn:hover {
	 background: #3499da;
}
